footer{
    background-color: $bgc2;
        padding: 4rem 2rem;
        
    .footer-text {
        font-size: 20px;
        color: #f0dc2a;
    }
    .footer-logo {
        max-width: 150px;
    }
    .social-icons a {
        margin: 0 10px;
        color: #f0dc2a;
        text-decoration: none;
    }
    .social-icons a:hover {
        color: #000;
    }
    a{
        text-decoration: none;
        color: #f7a309;
    }

    p{
        color: #f0dc2a;
        font-size: 20px;
    }
}