header{
    background-color: $bgc;
    .logo-holder{
        .logo-img{
            img{
                width: 200px;
            }
        }
    }

    .nav-link{
        font-size: 1.5rem;
    }
    a{
        text-decoration: none;
        color: #02948f;
    }
}