nav{
    background-color: $bgc;
    a{ 
        font-size: 20px;
        #logo-slika{
            width:200px;
            img{
                width:100%;
            }
        }
        #logo-text{
            text-align: center;
            margin:auto;
        }
    }
}